@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap'); */

html {
    scroll-behavior: smooth; /* Smooth scrolling */
}
/* General body styling */
body {
    margin: 0;
    font-family: "Cormorant", sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 25px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.top-bar {
    background-color: #e4e0dc;
    color: #504c4b;
    padding: 20px 30px;
    text-align: center;
}

.nav-item {
    font-size: 25px;
    font-weight: bold;
    padding: 0 10px;
    color: #504c4b;
    position: relative; 
    cursor: pointer;   
    display: inline-block; 
    padding-bottom: 20px;
    margin-bottom: -20px;
}

a.nav-item {
    text-decoration: none; /* Remove underline from links */
    color: #504c4b; /* Text color */
}

/* Underline animation effect */
.nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: #271818; 
    transition: width .3s ease;
    bottom: 2px; 
    left: 0;
}

.nav-item:hover::after,
.dropdown:hover .dropdown-toggle::after {
    width: 100%;
}


.divider {
    font-size: 25px;
    padding: 0 10px;
}

/* Logo or title */
.logo {
  font-size: 25px;
  font-weight: bold;
  align-items: center;
}

/* Navigation links */
.nav-links a {
    color: #504c4b;
    text-decoration: none;
    margin-left: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Dropdown container */
.dropdown {
    display: inline-block;
    position: relative;
}

/* Dropdown content that fills the screen horizontally */
.dropdown-content {
    visibility: hidden; 
    opacity: 0;
    transform: translateY(-10px); 
    position: fixed;
    top: 68px;
    left: 0;
    width: 100vw;
    background-color: #fff;  
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    transition: opacity 0.3s ease-out, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Display the dropdown on hover */
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); 
}

/* Style the dropdown items */
.dropdown-content a {
    display: block;
    padding: 12px 20px;
    color: #504c4b;
    text-decoration: none;
}

/* Hover effect for dropdown items */
.dropdown-content a:hover {
    background-color: #ddd;
}
.about-container {
    text-align: center;
    padding: 20px;
    background-image: url('assets/silk-4916174_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;

}
.about-container.visible {
    opacity: 1;
    transform: translateY(0);
}

#typed-text {
    color:rgb(63, 36, 34);
    font-weight: 700;
}


/* Blinking cursor animation */
#cursor {
    color: rgb(199, 92, 85);
    font-weight: 300;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 50% { 
        opacity: 1; 
    }
    51%, 100% { 
        opacity: 0; 
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}

/* About section */
.about {
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    font-size: xx-large;
}

.about-content {
    text-align: center;
    font-weight: 100;
    font-size: large;
    
    
}

/* member section */
.member1 {
    display: flex;
    flex-direction: row;  /* Side by side layout */
    align-items: center;  /* Vertically center the items */
}

.member1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/member-bg.jpg');
    background-position: center bottom;
}


.member1-img {
    width: 30%;                  /* Occupies 30% of the member1 container */
    display: flex;
    justify-content: center;     /* Optional: centers the image inside its container */
    align-items: center;
}

.member1-img img {
    width: 70%;                 /* The image takes up the entire width of its container */
    height: auto;                /* Maintain the image’s aspect ratio */
    border-radius: 200px;         /* Keeping your rounded corners */
    animation: slide 0.75s 0.4s forwards; /* Animation for the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow effect to the image */
    transition: transform 0.3s ease; /* Smooth scaling effect on hover */
    margin-left: 300px; /* Adjust margin as needed */
    
}

.member1-content {
    width: 50%;                  /* Occupies the remaining 70% */
    text-align: left;            /* Align the text on the left */
    font-weight: 100;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;     /* Vertically center if needed */
    padding: 20px;               /* Adjust spacing as desired */
    margin-left: 100px;
    animation: slide 0.75s 0.4s forwards; /* Animation for the image */
    transition: transform 0.3s ease; /* Smooth scaling effect on hover */
}

.title {
    animation: slide 0.75s 0.4s forwards;
    align-self: center;
    margin-bottom: 150px;
}

@keyframes slide {
    0% {
        transform: translate3d(0,15%,0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0);
        opacity: 1;
    }
}

